<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.multiexpenserv1">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="100" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".View.Balance.NotificationSettings_V"
            android:exported="false" />
        <activity
            android:name=".View.Chart.Chart_V"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".View.Home.Information_V"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <receiver android:name=".Controller.Setting.NotificationReceiver_C" />

        <activity android:name=".View.FlashScreen.Congratulations_V" />
        <activity android:name=".View.Goal.Show_Goals_In_Details_V" />
        <activity android:name=".View.Expenses.Show_Expenses_In_Details_V" />
        <activity android:name=".Controller.Home.My_Goals_C" />
        <activity android:name=".View.Balance.Show_Balance_V" />
        <activity android:name=".View.Expenses.Show_Expenses_V" />
        <activity android:name=".View.Goal.New_Goal_V" />
        <activity android:name=".View.Balance.Balance_in_V" />
        <activity android:name=".View.FlashScreen.Success_V" />
        <activity android:name=".View.Expenses.New_Expense_in_V" />
        <activity
            android:name=".View.Login.Login_Balance_V"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".View.Home.Home_V"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".View.FlashScreen.SplashScreenv1_V"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.Login.Login_V"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>